body {
	text-align: center;
}
h2 {
	color: purple;
	font-family: verdana;
}

p {
	font-family: arial;
	color: rgb(232, 52, 12);
	
}

#par1 {
	color: rgb(206, 12, 134);
}
table {
	text-align: center;
	width: 46%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;;

}

td, th {
	border: 2px solid blue;
}
th {
	background-color:rgb(255, 156, 174);
}

.location {
	background-color: rgb(97, 209, 255);
}

#location {
	width: 200px;
	height: 80px;
	background-color: green;
	font-size: 20px;
	color: white;
	border-radius: 20px;
	font-family: arial;
}

#location:hover{
	background-color: purple;
}

.shop {
	border-collapse: collapse;
	margin-top:5px;
	width: 200px;
	height: 50px;
	background-color: blue;
	font-size: 15px;
	color: white;
	border-radius: 20px;
	font-family: arial;
}