body {
	background: url('http://cdni.wired.co.uk/1920x1280/d_f/doughnuts.jpg')
}
p {
	font-size: 50px;
	color: black;
	font-family: verdana;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;


}

#location {
	width: 320px;
	height: 120px;
	background-color: green;
	font-size: 30px;
	color: white;
	border-radius: 20px;
	font-family: arial;


}

#location:hover{
	background-color: purple;
}

#addShop {
	width: 320px;
	height: 120px;
	background-color: green;
	font-size: 30px;
	color: white;
	border-radius: 20px;
	font-family: arial;
	}

#addShop:hover{
	background-color: red;
}

.buttons {
	display: inline;
}
.shop {
	
	
	width: 200px;
	height: 50px;
	background-color: blue;
	font-size: 15px;
	color: white;
	font-family: arial;
	border-radius: 10px;
}
.statusArea {
	
	
	font-size: 15px;
	background-color: white;
	
}

.container {

}

.mainContainer {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	justify-content: space-around;
}

.newShopContainer {
	position: center;

}

.shopsContainer {
	margin-right: 80px;
	min-width: 520px;
	
}


input{
display: block;

padding:5px;
height:35px;
box-shadow:1px 1px 1px 1px gray;
border-radius:3px;

}



#textAdded {
	font-size: 17px;
	color: white;
	text-align: left;
	margin-left: 8%;

}