body {


	background: url('http://cdni.wired.co.uk/1920x1280/d_f/doughnuts.jpg')
}
p {
	font-size: 60px;
	color: black;
	font-family: verdana;
	font-weight: bold;
	text-align: center;
	margin-top: 45px;

}



#location {
	width: 320px;
	height: 120px;
	background-color: green;
	font-size: 30px;
	color: white;
	border-radius: 20px;
	font-family: arial;
    margin-left: 38%;


}

#location:hover{
	background-color: purple;
}

.shop {
	
	margin-top:5px;
	width: 200px;
	height: 50px;
	background-color: blue;
	font-size: 15px;
	color: white;
	font-family: arial;
	border-radius: 10px


	
}
.statusArea {
	padding-left: 30px 
	margin-top: 20px;
	font-size: 25px;
	background-color: white;
	display: inline-block;



}

.container {
margin-left: 42.5% ;

}